In [1]:
import pandas as pd
import numpy as np

In [3]:
ids = np.arange(0,10)
names=['name'+str(i) for i in range(10)]
df1 = pd.DataFrame({'id':ids, 'name':names})
print(df1)

   id   name
0   0  name0
1   1  name1
2   2  name2
3   3  name3
4   4  name4
5   5  name5
6   6  name6
7   7  name7
8   8  name8
9   9  name9

In [5]:
ids = np.arange(10,20)
names=['name'+str(i) for i in range(10, 20)]
df2 = pd.DataFrame({'id':ids, 'name':names})
print(df2)

   id    name
0  10  name10
1  11  name11
2  12  name12
3  13  name13
4  14  name14
5  15  name15
6  16  name16
7  17  name17
8  18  name18
9  19  name19

In [6]:
#concatenate df1 and df2 rowwise
df3 = pd.concat([df1, df2], axis=0)
print(df3)

   id    name
0   0   name0
1   1   name1
2   2   name2
3   3   name3
4   4   name4
5   5   name5
6   6   name6
7   7   name7
8   8   name8
9   9   name9
0  10  name10
1  11  name11
2  12  name12
3  13  name13
4  14  name14
5  15  name15
6  16  name16
7  17  name17
8  18  name18
9  19  name19

In [7]:
print(df3.iloc[10:12])

   id    name
0  10  name10
1  11  name11

In [9]:
df3 = df3.reset_index(drop=True)
df3

    id    name
0    0   name0
1    1   name1
2    2   name2
3    3   name3
4    4   name4
5    5   name5
6    6   name6
7    7   name7
8    8   name8
9    9   name9
10  10  name10
11  11  name11
12  12  name12
13  13  name13
14  14  name14
15  15  name15
16  16  name16
17  17  name17
18  18  name18
19  19  name19

In [10]:
print(df3.iloc[10:12])
print(df3.loc[10:12])

    id    name
10  10  name10
11  11  name11
    id    name
10  10  name10
11  11  name11
12  12  name12

In [11]:
#concatenate df1 and df2 column wise
df4 = pd.concat([df1, df2], axis=1)
print(df4)

   id   name  id    name
0   0  name0  10  name10
1   1  name1  11  name11
2   2  name2  12  name12
3   3  name3  13  name13
4   4  name4  14  name14
5   5  name5  15  name15
6   6  name6  16  name16
7   7  name7  17  name17
8   8  name8  18  name18
9   9  name9  19  name19

In [18]:
#merge different frames for doing analysis across frames
emp_ids = np.arange(0,10)
print(emp_ids)
emp_names = ['emp_name' + str(i) for i in range(10)]
print(emp_names)
dept_ids = np.random.choice(np.arange(0,20), 10, replace=True)
print(dept_ids)
emp = pd.DataFrame({'emp_id':emp_ids, 'emp_name': emp_names, 'dept_id':dept_ids})
print(emp)

[0 1 2 3 4 5 6 7 8 9]
['emp_name0', 'emp_name1', 'emp_name2', 'emp_name3', 'emp_name4', 'emp_name5', 'emp_name6', 'emp_name7', 'emp_name8', 'emp_name9']
[ 8  4 14  1 13  3  7  6  2 19]
   emp_id   emp_name  dept_id
0       0  emp_name0        8
1       1  emp_name1        4
2       2  emp_name2       14
3       3  emp_name3        1
4       4  emp_name4       13
5       5  emp_name5        3
6       6  emp_name6        7
7       7  emp_name7        6
8       8  emp_name8        2
9       9  emp_name9       19

In [19]:
dept_ids = np.arange(0,12)
dept_names = ['dept' + str(i) for i in range(12)]
dept = pd.DataFrame({'dept_id':dept_ids, 'dept_name': dept_names})
print(dept)

    dept_id dept_name
0         0     dept0
1         1     dept1
2         2     dept2
3         3     dept3
4         4     dept4
5         5     dept5
6         6     dept6
7         7     dept7
8         8     dept8
9         9     dept9
10       10    dept10
11       11    dept11

In [20]:
tmp1 = pd.merge(emp, dept, on='dept_id', how='inner')
print(tmp1)

   emp_id   emp_name  dept_id dept_name
0       0  emp_name0        8     dept8
1       1  emp_name1        4     dept4
2       3  emp_name3        1     dept1
3       5  emp_name5        3     dept3
4       6  emp_name6        7     dept7
5       7  emp_name7        6     dept6
6       8  emp_name8        2     dept2

In [21]:
tmp2 = pd.merge(emp, dept, on='dept_id', how='right')
print(tmp2)

    emp_id   emp_name  dept_id dept_name
0      0.0  emp_name0        8     dept8
1      1.0  emp_name1        4     dept4
2      3.0  emp_name3        1     dept1
3      5.0  emp_name5        3     dept3
4      6.0  emp_name6        7     dept7
5      7.0  emp_name7        6     dept6
6      8.0  emp_name8        2     dept2
7      NaN        NaN        0     dept0
8      NaN        NaN        5     dept5
9      NaN        NaN        9     dept9
10     NaN        NaN       10    dept10
11     NaN        NaN       11    dept11

In [22]:
tmp3 = pd.merge(emp, dept, on='dept_id', how='left')
print(tmp3)

   emp_id   emp_name  dept_id dept_name
0       0  emp_name0        8     dept8
1       1  emp_name1        4     dept4
2       2  emp_name2       14       NaN
3       3  emp_name3        1     dept1
4       4  emp_name4       13       NaN
5       5  emp_name5        3     dept3
6       6  emp_name6        7     dept7
7       7  emp_name7        6     dept6
8       8  emp_name8        2     dept2
9       9  emp_name9       19       NaN

In [23]:
tmp3 = pd.merge(emp, dept, on='dept_id', how='outer')
print(tmp3)

    emp_id   emp_name  dept_id dept_name
0      0.0  emp_name0        8     dept8
1      1.0  emp_name1        4     dept4
2      2.0  emp_name2       14       NaN
3      3.0  emp_name3        1     dept1
4      4.0  emp_name4       13       NaN
5      5.0  emp_name5        3     dept3
6      6.0  emp_name6        7     dept7
7      7.0  emp_name7        6     dept6
8      8.0  emp_name8        2     dept2
9      9.0  emp_name9       19       NaN
10     NaN        NaN        0     dept0
11     NaN        NaN        5     dept5
12     NaN        NaN        9     dept9
13     NaN        NaN       10    dept10
14     NaN        NaN       11    dept11