In [1]:
import pandas as pd

In [5]:
titanic = pd.read_csv('C:/users/algorithmica/python/titanic.csv')
print(type(titanic))
print(id(titanic))
print(titanic)
titanic

<class 'pandas.core.frame.DataFrame'>
1874206102344
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
print(type(titanic.Pclass))

<class 'pandas.core.series.Series'>

In [8]:
#Series: An array with custom index/keys

In [11]:
#get series object from dataframe
print(type(titanic.Pclass))
print(type(titanic['Pclass']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [13]:
#create series object using pd.Series
s1 = pd.Series([10, 20, 30, 40])
print(type(s1))
print(id(s1))
print(s1)

<class 'pandas.core.series.Series'>
1874206121096
0    10
1    20
2    30
3    40
dtype: int64

In [17]:
#attributes of series object
print(s1.shape)
print(s1.index)
print(s1.values)
print(s1.dtype)

(4,)
RangeIndex(start=0, stop=4, step=1)
[10 20 30 40]
int64

In [24]:
#access elements of series object
print(s1[0])
print(s1[3])
print(s1[0:3]) #slicing
print(s1[[1,3]]) #fancy indexing
s1>30
print(s1[s1>30])#mask based indexing

10
40
0    10
1    20
2    30
dtype: int64
1    20
3    40
dtype: int64
3    40
dtype: int64

In [25]:
s2 = pd.Series([10, 20, 30, 40], index=[1,3,5,7])
print(s2)

1    10
3    20
5    30
7    40
dtype: int64

In [28]:
#access elements
print(s2[1]) #refers to explicit index
print(s2[1:3]) #slicing refers to implicit index

10
3    20
5    30
dtype: int64

In [33]:
#iloc for implicit index
print(s2.iloc[1])
print(s2.iloc[0:3]) #slicing
print(s2.iloc[[1,3]]) #fancy indexing
print(s2.iloc[s2>30])#mask based indexing

20
1    10
3    20
5    30
dtype: int64
3    20
7    40
dtype: int64

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [35]:
#loc for explict index
print(s2)
print(s2.loc[1])
print(s2.loc[0:3]) #slicing
print(s2.loc[[1,3]]) #fancy indexing
print(s2.loc[s2>30])#mask based indexing

1    10
3    20
5    30
7    40
dtype: int64
10
1    10
3    20
dtype: int64
1    10
3    20
dtype: int64
7    40
dtype: int64

In [37]:
#aggregate operations on series object
print(s2.min())
print(s2.max())
print(s2.sum())
print(s2.mean())

10
40
100
25.0